body{
    background-color: darkslateblue;
}

h1{
    color: rgb(69, 7, 128);
    font-weight: bold;
}

p{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#paragrafo{
    border: 3px solid black;
}